<section class="hero-section">
  
  <div class="hero-content container">
    
    <div class="text-layers">
      <p class="greeting-text">Hey, I am</p>
      
      <h1 class="main-title">
        Pradeep kumar K
      </h1>
      
      <span class="label ui-label">UI</span>
      <span class="label ux-label">UX</span>
      <span class="role-label">UI/UX Designer</span>
      
      <div class="floating-icon icon-pen">🖊️</div>
      <div class="floating-icon icon-text">T</div>
    </div>

    <div class="portrait-container">
      <div class="portrait-placeholder">
        <div class="photo-placeholder">
          <img src="assets/pradeep.png" 
            alt="Pradeepkumar K wearing sunglasses" 
            class="hero-portrait">
        </div>
      </div>
    </div>

  </div>

  <div class="scroll-down-indicator">
    <a (click)="scrollToSection('about')" class="scroll-link">
      <span class="scroll-text">Scroll Down</span>
      <div class="scroll-arrow-icon">
          <span class="arrow-down">↓</span>
      </div>
    </a>
  </div>

</section>