<div class="main-content-portfolio-sections">
    <app-hero id="hero"></app-hero> 
    
    <div class="section-padding" id="about">
        <app-about></app-about>
    </div>
    
    <div class="section-padding" id="experience">
        <app-journey></app-journey>
    </div>
    
    <div class="section-padding" id="works">
        <app-my-work></app-my-work>
    </div>
    
    <div class="section-padding" id="myworks">
        <app-playground></app-playground>
    </div>
    
    <div class="section-padding" id="testimonials">
        <app-testimonial></app-testimonial>
    </div>
</div>